{% extends 'base.html '%}
{% load static %}

{% block contenido %}

<body>    
        
    <div class="contenedorFormulario">
        <div class="row" >
            <div class="col-12 col-md-6 offset-md-3">
                
                <div class="card">
                    <div class="card-body>"</div>
                    <h2>Ingresa tus credenciales</h2>
                    <hr>
                    <form action ="" method="POST" >
                        {% csrf_token %}
                        {{ formulario.as_table }}
                        <a href="{% url 'index' %}" >Ir al home</a>
                        <a href="{% url 'login' %}" >Iniciar sesion</a>
                        <input type="submit" value="registrar" class="btn btn-success float-right">
                    </form>
                    </div>        
            </div>    
        </div>
        
    </div>   
    
</body>        
    

{% endblock %}