<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="/proyectofinalInfo/Maquetado/images/Logo.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/proyectofinalInfo/Maquetado/images/Logo.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/proyectofinalInfo/Maquetado/images/Logo.png" sizes="96x96">
        <link rel="stylesheet" href= "{% static 'css/base1.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
        
        {% block head %} 
        

        {% endblock %}
    </head>
<body class="bd">
<!-- Menu-->

<header id="header">   


        <div class="logodiv">
            <img href="#" class="logo" src="{% static 'media/Logo.png' %}" alt="la casita del arbol">
            <a href="#" class="logotype">La Casita del Árbol</a>
        </div>

        <nav>     
            <ul class="cont-ul">
                <li><a href="">Inicio</a></li>
                <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
                <li><a href="{% url 'proyecto'%}">Proyectos</a></li>
                <li><a href="#">Novedades</a></li>
                <li><a href="{% url 'contacto' %}">Contacto</a></li>                
            </ul>
        </nav>
    
        <div class="logydondos">
            <div class="logydon">
                <nav class="cierre">
                    <svg href="{% url 'login' %}" class="login" xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: #f98012;;transform: msFilter"><path d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"></path></svg>
                <ul class="juan jo">
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'logout' %}">Cerrar sesion</a>
                        <a href="#">{{ user.username}}</a>
                    </li>
                        {% endif %}
                    </li>
                </ul>
                </nav>
                <div href="{% url 'donar' %}" class="donar">
                    <a href="{% url 'donar' %}"><button class="don">Donar</button></a>
                </div>
            </div>
            <div class="hamburger-menu">
                <input id="menu__toggle" type="checkbox" />
                <label class="menu__btn" for="menu__toggle">
                <span></span>
                </label>
            
                <ul class="menu__box">
                  <li><a class="menu__item" href="#">Inicio</a></li>
                        <li><a class="menu__item" href="{% url 'nosotros' %}">Sobre Nosotros</a></li>
                        <li><a class="menu__item" href="{% url 'proyecto'%}">Proyectos</a></li>
                        <li><a class="menu__item" href="#">Novedades</a></li>
                        <li><a class="menu__item" href="{% url 'contacto' %}">Contacto</a></li>
                        <li><a class="menu__item" href="{% url 'donar' %}">Donar</a></li>
                        <li><a class="menu__item" href="{% url 'login' %}">Iniciar Sesión</a></li>
                        
                </ul>
            </div>
        </div>  
        
        
    </header>
   
      <main>
        {% block contenido %}


        {% endblock %}


      </main> 
    <!-- FOOTER -->
    <footer>
        <div class="contac">
            <p>Conecta con nosotros</p><img src="{% static 'media/facebyn.svg' %}" style="width: 1.5vw;">
        </div>
        <p id="copy">Copyright &copy; 2022, Todos los Derechos Reservados Grupo n° 7</p>
        <img id="logobyn" src="{% static 'media/logbyn.png' %}">
    </footer>  
</body>
</html>