<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Sobre nosotros </title>
    <meta name="description" content="estesitioesunaongdescripcion">
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" type="image/png" href="{% static 'media/Logo.png' %}" sizes="16x16">
<link rel="icon" type="image/png" href="{% static 'media/Logo.png' %}" sizes="32x32">
<link rel="icon" type="image/png" href="{% static 'media/Logo.png' %}" sizes="96x96">
    <link rel="stylesheet" href="{% static 'css/nosotros.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
<!-- Menu-->

<header id="header">   


    <div class="logodiv">
        <img href="#" class="logo" src="{% static 'media/Logo.png' %}" alt="la casita del arbol">
        <a href="#" class="logotype">La Casita del Árbol</a>
    </div>

    <nav>     
        <ul class="cont-ul">
            <li><a href="#">Inicio</a></li>
            <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
            <li><a href="{% url 'proyecto' %}">Proyectos</a></li>
            <li><a href="#">Novedades</a></li>
            <li><a href="{% url 'contacto' %}">Contacto</a></li>
        </ul>
    </nav>

    <div class="logydondos">
        <div class="logydon">
            <svg href="#" class="login" xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: #f98012;;transform: ;msFilter:;"><path d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"></path></svg>
            <div href="#" class="donar">
                <button class="don">Donar</button>
            </div>
        </div>
        <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
              <span></span>
            </label>
        
            <ul class="menu__box">
              <li><a class="menu__item" href="#">Inicio</a></li>
                    <li><a class="menu__item" href="#">Sobre Nosotros</a></li>
                    <li><a class="menu__item" href="#">Proyectos</a></li>
                    <li><a class="menu__item" href="#">Novedades</a></li>
                    <li><a class="menu__item" href="#">Contacto</a></li>
                    <li><a class="menu__item" href="#">Donar</a></li>
                    <li><a class="menu__item" href="#">Iniciar Sesión</a></li>
            </ul>
        </div>
    </div>
    
      
</header>
 
<section class="content">
    <h2>Nosotros</h2>
    <div id="banner"></div>
</section>

<section class="seccion">
    
    <div class="filas">
        <section class="filauno">
            <h3>¿Quienes somos?</h3>
            <p>La Casita del Árbol es un comedor y merendero que además conforma una familia muy numerosa.<br>
                Aquí compartimos alegrías, conocimientos, sorpresas, risas como asi también momentos de entretenimiento Estamos comprometidos con la comunidad a lograr mejorar la calidad de vida de muchos jovenes.
            </p>
        </section>
        <section class="filadue">
            <div class="mision">
            <div id="mis"></div>
            <div class="mistxt">
                <h3>Misión</h3>
                <p>Brindar recursos a comunidades vulnerables para lograr mejorar la calidad de vida de los jovenes y fortalecer su desarrollo.</p>
            </div>    
            </div>
            <div class="vision">
                <div id="vis"></div>
                <div class="vistxt">
                    <h3>Visión</h3>
                <p>Ser una organización reconocida en la ciudad por el alcance de nuestras acciones y su impacto positivo.</p>
                </div>            
            </div>
        </section>
        <section class="filatre">
            <h3>Nuestra historia</h3>
            <p>En el año 2017 en vista de la gran necesidad que se percibía en el barrio, tomamos la iniciativa de servirles la merienda a los chicos que residian allí en ese entonces.<br>
                Comenzamos sirviendo la merienda una vez a la semana en el que participaban alrededor de 30 niños del barrio,  cantidad que fue aumentando con el pasar del tiempo lo que nos llevó a aumentar la cantidad de dias de merienda.<br>
                Hoy en día servimos almuerzo y merienda de lunes a sábados a mas de 60 jovenes de la comunidad.</p>
        </section>
    </div>
    <aside>
        <div class="anundon">
            <div class="txtdon">
                <div id="cora"></div>
                <h5>Con tu donación, nos ayudarás a beneficiar a más jovenes.</h5>
            </div>                
            <div class="don2"><button class="donmin">Donar</button></div>
        </div>
        <div id="chicos"></div>
    </aside>
</section>
<footer>
    <div class="contac">
        <p>Conecta con nosotros</p><img src="{% static 'media/facebyn.svg' %}" style="">
    </div>
    <p id="copy">Copyright &copy; 2022, Todos los Derechos Reservados Nicolas Miño</p>
    <img id="logobyn" src="{% static 'media/logbyn.png' %}">
</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
</body>
</html>