*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
/*decoracion banner*/
.content{
    height: 13%;
    background: linear-gradient(180deg, #FF983A 0%, #FFAB2E 0.01%, #E98021 100%);    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner{
    width: 40vw;
    height: 100%;
    background-image: url(../media/manos.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    mix-blend-mode: soft-light;
}

.content h2{
    font-weight: 800;
    font-size: 2.8em;
    line-height: 116.5%;
    color: #fafafa;
    padding-top: .8vw;
    padding-left: 3.6vw;
}
/*final Banner*/
body{
    height: 81vh;
}
/*primer parrafo ayudar*/
.primerparrafo{
    text-align: center;
    margin: 10px auto;
}
h3{
    color: #f98012;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*final primer parrafo ayudar*/
/*inicio cuadros donar*/
.cuadrosdonar{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.cuadro{
    border: solid #f98012;
    border-radius: 4px;
    background-color: #f98012;
    width: 50vh;
    height: 3vw;
    margin-right: 15px;
    margin-bottom: 8px;
}
.link{
    color: #ffff;
    text-decoration: none;
    font-size: 25px;
}
/*final cuadros donar*/
/*segundo parrafo*/
.segundoparrafo{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
@media screen and (max-width: 680px){
    .cuadro{
        border: solid #f98012;
        border-radius: 4px;
        background-color: #f98012;
        width: 45vh;
        height: 5vw;
        margin-right: 7px;
        margin-bottom: 8px;
    }
    .link{
        color: #ffff;
        text-decoration: none;
        font-size: 20px;
    }
    .segundoparrafo{
        margin-top: 4px;
        margin-bottom: 4px;
        margin-left: 4px;
    }
    
}
@media screen and (max-width: 500px){
    .cuadro{
        border: solid #f98012;
        border-radius: 4px;
        background-color: #f98012;
        width: 45vh;
        height: 5vw;
        margin-right: 7px;
        margin-bottom: 8px;
    }
    .link{
        color: #ffff;
        text-decoration: none;
        font-size: 15px;
    }
    .segundoparrafo{
        margin-top: 4px;
        margin-bottom: 4px;
        margin-left: 4px;
    }
    
}

@media screen and (max-width: 310px){
    .cuadro{
        border: solid #f98012;
        border-radius: 4px;
        background-color: #f98012;
        width: 45vh;
        height: 5vw;
        margin-right: 7px;
        margin-bottom: 8px;
    }
    .link{
        color: #ffff;
        text-decoration: none;
        font-size: medium;
    }
    .primerparrafo{
        text-align: center;
        margin: 5px auto;
        font-size: small;
    }
    h3{
        color: #f98012;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .segundoparrafo{
        margin-top: 2px;
        margin-bottom: 2px;
        margin-left: 2px;
        font-size: small;
    }
    
}

