input{
    height: 20px;
    width: 40vh; 
    background-color: rgb(238, 204, 125);
    border: solid #fff;
    border-radius: 5px;
}
.contenedorregistro{
    display: flex;
    flex-direction: column;
    background-color:#F98012;
    width: 78vh;
    height: 47vh;
    margin:10px auto;
    border-radius: 10px;
    padding: 2px;
    box-shadow: 5px 5px 5px #5e4d3d;
}
.btn.btn-success.float-right{
    background-color: rgb(124, 120, 120);
    height: 20px;
    margin-top: 28vh;
}
.cont{
    height: 100%;
    background-color:black;
}
form {
    display: flex;
    height: 65vh;
    flex-direction: column;
    justify-content: space-evenly;
}